@font-face {
    font-family: lato;
    src: url(../fonts/Lato/Lato-Regular.ttf);

}

* {
    padding: 0;
    margin: 0;
    font-family: "lato", sans-serif;
}



.parallax {
    background-image: url(../img/parallax1.jpg);
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu1,
#menu2 {
    display: flex;

}

#menu1 a,
#menu2 a {
    text-decoration: none;
    color: gray;

    font-size: 0.8rem;
}

#menu1 li,
#menu2 li {
    list-style-type: none;
    padding: 0.5rem;
}

h1 {
    color: white;
    background-color: black;
    font-size: 1.5rem;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-content: center;
}

#titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

h2 {
    text-align: center;
    padding: 1rem;
}

#about p {
    padding: 2rem;



}

#sousTitre {
    font-size: 00.85rem;
    font-style: italic;
    text-align: center;

    color: gray;
}

#menu2 a {
    color: black;

}

#menu2 {
    box-shadow: 0 2px 1px gray;
}

/* Section Welcome */

#corp_Welcome {
    display: flex;
    padding: 1rem 6rem;

}

#img {
    width: 50%;
    padding-right: 1rem;
}

#img img {
    width: 100%;
}

#text {
    width: 50%;
    text-align: justify;

}

#img figcaption {
    padding-bottom: 2rem;
    text-align: center;
}

.progresseBar {

    background-color: grey;
    align-items: center;
}

#progresseBar {
    display: flex;
    flex-direction: column;

    width: 80%;
    margin: 4rem;

}

#progresseBar p {
    color: gray;
    padding: 1rem;

}

#pb1,
#pb2,
#pb3 {
    width: 1%;
    height: 30px;
    background-color: rgb(50, 50, 50);
    transition: all 4s;


}
/* pure ccs   partenaires*/
#partenaire{
    width: 80%;
    padding: 4rem;
    
}
.partenaire {
    display: flex;
    justify-content:space-around ;
    align-items: center;
    text-align: center;
    background-color: rgb(50,50,50);
}


.partenaire p {

    padding: 0.5rem;
    width: 33.33%;
    color: white;
}

.parte{
    width:100%;
    height: 50vh;

}

#myWork p{
    text-align: center;
    color: gray;
}

#buttonMyWork {
    display: flex;
    justify-content: center;
    align-items: center;

}
#buttonMyWork button{
    height: 3rem;
    margin:3rem;
}

#imgContact {
    background-image: url(../img/parallax3.jpg);
    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

#imgContact h2 {
    color: white;
    font-size: 3rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

#titreContact{
    text-align: center;
    color:gray;
    padding: 5rem;
    
}

#titreContact p{
    font-size: larger;
    font-weight: 400;
    font-style: oblique;
}

.detail{
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


#map{
    
    background-image:url(../img/map.jpg) ;
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    margin: 1rem;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin: 1rem;
   
    line-height: 3rem;
}
#contact i{
    padding: 0 0.5rem;
}

#formulaire{
    
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    padding: 0  .5rem;
}
#formulaire form{
    width:50%;
    display: flex;
    flex-wrap: wrap;
}

#formulaire>div{
    width:50%;
}

#name, #email{
    width: 45%;
    margin: 5px;
}
#message{
    width: 92%;
    margin: 5px;  
}

#button{
    margin: 5px;
    padding: 0.2rem;
    
    background-color: black;
    color: white;
    font-size: 1.5rem;

}
#bp{
    width: 100%;
    display: flex;
    justify-content:end;

    
}
#bp>input{
    margin-right: 3rem;
}

/* footer */
footer>div{
    background-color: #484343;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#gohome{
    background-color: white;
    color: black;
    font-size: 2rem;
    line-height: 2rem;
    


}

#gohome a{
    color: black;
    text-decoration: none;

}

footer p{
    color: white;
    line-height: 4rem;
    font-size: 1.5rem;
}


